<!DOCTYPE html>
<html>
<script src="js/lib/angular/angular.min.js"></script>
<body>

<h2>Validation Example</h2>

<form  ng-app="myApp"  ng-controller="validateCtrl"
       name="myForm" novalidate>

    <p>username:<br>
        <input type="text" name="user" ng-model="user" required ng-pattern="/^[(a-z|A-Z|0-9|_|$|\s+)]*$/">
        <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
            <span ng-show="myForm.user.$error.required">username required</span>
            <span ng ng-show="myForm.user.$error.pattern">username illegal</span>
        </span>
    </p>

    <p>e-mail:<br>
        <input type="email" name="email" ng-model="email" required>
        <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
            <span ng-show="myForm.email.$error.required">mail required</span>
        <span ng-show="myForm.email.$error.email">mail illegal</span>
  </span>
    </p>

    <p>
        <input type="submit"
               ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid">
    </p>

</form>

<script>
    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function($scope) {
        $scope.user = 'John Doe';
        $scope.email = 'john.doe@gmail.com';
    });
</script>

</body>
</html>